<table class="table">
  <thead>
    <%= render 'nav' %>
  </thead>
  <tbody>
    <%= render 'fields' %>
  </tbody>
</table>

<%= link_to 'Create new movie', new_movie_path %>
<%= link_to 'Back', root_path %>
